<header>
  <img src="/favicon.svg" width="200px" />
  <div class="flex items-center mt-4">
    <span class="text-2xl font-extrabold text-slate">ChatGPT-3/3.5</span>
    <span class="ml-1 text-2xl font-extrabold text-slate">Vercel</span>
  </div>
</header>
