<header>
  <img src="/favicon.svg" width="200px" />
  <div class="flex items-center mt-4">
    <span
      class="text-2xl text-transparent font-extrabold text-slate"
      >ChatGPT</span
    >
    <span class="ml-1 text-2xl font-extrabold text-slate">Vercel</span>
  </div>
</header>
